@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
/* Google fonts import */

/* asterisk wildcard selector to override default styles added by the browser */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: 'Roboto 100', sans-serif;
}

h1 {
    font-family: 'Roboto 100', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2, h3 {
    font-family: 'Roboto 100', sans-serif;
    letter-spacing: 1px;
}

h4 {
  font-family: 'Roboto 100', sans-serif;
  letter-spacing: 1px;
  margin-left: 1rem;
  margin-top: 2rem;
  text-transform: uppercase;
}

.hidden-heading {
    display: none;
}
/* header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 100%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

/* nav bar style with drop down menu */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* logo */

#logo {
  font-size: 150%;
  line-height: 75px;
  margin: 0px 0.5rem;
}

/* text for main */

.left-div {
    flex: 1;
    min-height: 260px
}

.right-div {
    display: flex;
    flex: 1;
    min-height: 50%;
}
/*gradient for hero text*/
.gradient-top-down-white-text {
    background-image: linear-gradient(#064159, #076576);
    color:whitesmoke;
}


/* to keep the image from taking up more then 50% of the screen */
.restrain-image {
max-width: 100%;
height: auto;
display: block;
}

.rounded-image {
    border: 2px solid #333; /* Border color */
    border-radius: 10px; /* Border radius for rounded corners */
    overflow: hidden; /* Ensure border-radius clips the image properly */
}

.image-margin {
    margin: 5vw;
    }

.center-text {
    padding: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self:center;
}


/* Our Tour Section */
#our-tours {
    background: #CAE0DF;
    border: solid 1px #3a3a3a;
    border-radius: 5px;
    box-shadow: 0 6px 4px gray;
    margin: 1rem;
}

/* container holding the our-guides cards*/
#guide-section {
  display: flex;
  flex-wrap: wrap;
}

/* Meet our Guides */
#our-guides {
    background: #e3e3dc;
    border: solid 1px #3a3a3a;
    border-radius: 5px;
    box-shadow: 0 6px 4px gray;
    margin: 1rem;
    transition: all 0.3s ease-in-out; /* transition for movement between screen sizes */
}

/*map section with gradient*/
#map-gradient {
    background-image: linear-gradient(#076576, #064159);
    color:whitesmoke;
    padding: 20px;
    text-align: center;
    margin-top: 2rem
}

.text-container {
    margin: 20px;
  }

.text-container h2 {
    margin: 0;
    font-size: 24px;
  }

.map-container {
    max-width: 100%;
    margin: auto;
  }

.map-container img {
    max-width: 80%;
    height: auto;
    align-self: center;
    margin: 5vw;
  }  

 /* Container for contact section */
  .contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #CAE0DF;
    margin-top: 2rem;
  }
  
  /* Left area with picture */
  .left-area {
    flex: 1;
  /* This will make the image div take up remaining space */
  max-width: 50%; /* Adjust as needed */
  }

  .left-area img {
    flex: 1;
    min-height: 300px;
    width: 100%; /* Image width will change with the screen width */
    object-fit: cover; /* Adjusts the image to cover the container */
  }
  
  /* Right area with text and button */
.right-area {
    flex: 1;
    text-align: center;
    padding-left: 1rem;
  }

  /* Button styles */
  .contact-btn {
    padding: 10px 20px;
    margin-top: 10 rem;
    background-color: #1B8A6B;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .contact-btn:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #1B8A6B;
  }

/* footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a
}

  
  /* Flexbox layout for small screens */
  .image-and-text {
    display: flex;
    flex-direction: column;
  }

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  #tour-section {
    flex-wrap: wrap;
    flex-direction: column;
  }
  #our-tours {
    flex: 2;
  }
  #our-guides {
    flex: 1;
  }
  .image-and-text {
    flex-direction: row;
}
  .hero-2 {
    flex: 1;
}
    /* menu changes to links instead of burgermenu at 768px */
  #menu {
    display: flex;
}
  #menu > li {
  padding-left: 1rem;
}

  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
}
  .nav-toggle-label {
    display: none;
}
}
