@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
/* Google fonts import */

/* asterisk wildcard selector to override default styles added by the browser */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  /* Generic project style*/
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Roboto thin', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color:#4b4b4b;
  font-size: 140%;
}


.center-text {
    padding: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self:center;
}

.center-text h1 {
  color: whitesmoke;
}

h2, h3 {
  font-family: 'Roboto 100', sans-serif;
  letter-spacing: 1px;
  color: #252525;
}

h4 {
  font-family: 'Roboto 100', sans-serif;
  letter-spacing: 1px;
}

.uppercase {
  text-transform: uppercase;
}

/*h4 text margin */
.margin-l-t-u {
  margin-left: 1rem;
  margin-top: 2rem;
  text-transform: uppercase;
}

p {
  font-family: 'Roboto 100', sans-serif;
  font-size: smaller;
}

.hidden-heading {
    display: none;
}


/* header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 5px 10px #064159;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*align-items: baseline;*/
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;
    margin-top: 2em;
}

#menu > li {
    margin-bottom: 2em;
}
/*active button for underline links when clicked */
/*
.active {
  border-bottom: 1px solid #252525;
}
*/
li > a:hover {
  color: silver;  
}
/* nav bar style with drop down menu */
nav {
    position: absolute;
    background-color: rgba(255,255,255, 0.92); /* 0.98 make the colour only slightly transparent*/
    width: 100%;
    left: 0;
    padding: 0 1rem;
    /*box-shadow: 0px 10px 24px #f8fcfd;*/
    box-shadow: 0 5px 10px #064159;
    display: none;
    top: 100%;
    text-align: center;
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
    /*box-shadow: 0px 10px 18px #f8fcfd;*/
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*#logo {
  font-size: 120%;
  line-height: 50px;
  margin: 0px 0.5rem;
}*/

/*main*/
/* main section takes up all extra space and pushes the footer down*/ 
main {
  background-color: whitesmoke;
  flex: 1 0 auto;
  margin-top: 37px;
  display: flex;
  flex-direction: column;
}

/* text for main */

/*hero image and main text section*/

.left-image-on-card {
    flex: 1;
}

.right-text-on-card {
    display: flex;
    flex: 1;
    min-height: 260px;
}
/*gradient for hero text*/
.gradient-top-down-white-text {
    background-image: linear-gradient(#064159, #076576);
    color:whitesmoke;
}

/* to keep the image from taking up more then 50% of the screen */
.restrain-image {
width: 100%;
display: flex;
flex: 1 /* Adjusts the image to cover the container */
}

.rounded-image {
    border: 2px solid #333; /* Border color */
    border-radius: 10px; /* Border radius for rounded corners */
    overflow: hidden; /* Ensure border-radius clips the image properly */
}

/* Our Tour Section */
#our-tours {
    background: #CAE0DF;
    border: solid 1px #3a3a3a;
    border-radius: 5px;
    box-shadow: 0 6px 4px gray;
    margin: 1rem;
    transition: all 0.3s ease-in-out; /* transition for movement between screen sizes */
}

/* container holding the our-guides cards*/
#guide-section {
  display: flex;
  flex-wrap: wrap;
  min-height: 260px;
}

/* Meet our Guides */
.our-guides {
    background: #e3e3dc;
    border: solid 1px #3a3a3a;
    border-radius: 5px;
    box-shadow: 0 6px 4px gray;
    margin: 1rem;
    transition: all 0.3s ease-in-out; /* transition for movement between screen sizes */
}

/*map section with gradient*/
#map-gradient {
    background-image: linear-gradient(#076576, #064159);
    color:whitesmoke;
    padding: 20px;
    text-align: center;
    margin-top: 2rem
}

.text-container {
    margin: 20px;
  }

.text-container h2 {
    margin: 0;
    font-size: 24px;
  }

.map-container {
    max-width: 100%;
    margin: auto;
  }

.map-container img {
    max-width: 80%;
    height: auto;
    align-self: center;
    margin: 5vw;
  }  

 /* Container for contact section */
  .contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #CAE0DF;
    margin-top: 2rem;
  }
  
  /* Left area with picture */
  .left-area {
    flex: 1;
    /* This will make the image div take up remaining space */
    max-width: 50%;
  }

  .left-area img {
    flex: 1;
    min-height: 300px;
    width: 100%; /* Image width will change with the screen width */
    object-fit: cover; /* Adjusts the image to cover the container */
  }
  
  /* Right area with text and button */
.right-area {
    flex: 1;
    text-align: center;
    padding-left: 1rem;
  }

.right-area p {
  padding: 10%;
}

  /* Button styles */
  .contact-btn {
    padding: 10px 20px;
    margin-top: 2rem;
    /*background-color:  #DF9A5C;*/
    background-image: linear-gradient(#F7873F, #D95105);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.3s;
    text-decoration: none;
  }
  .contact-btn > p {
    font-size: 70%;
  }

  .contact-btn:hover {
    background-image: linear-gradient(#D95105, #F7873F);
    color: white; 
    border-left: 1px solid #DF9A5C;
    border-right: 1px solid #DF9A5C;
  }
/* to add image to book button on hover*/
/*
  .contact-btn-send {
    padding: 25px 20px;
    margin-top: 1em;
    background-image: linear-gradient(#F7873F, #D95105);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .contact-btn-send:hover {
    background:url("../images/ghost_boo.jpeg") no-repeat center/cover;
    color: white;
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000; 
    border: 2px solid #DF9A5C;
    transform: scale(3);
    position: absolute;
  }
  */
  .btn {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
  }

/* footer */

#social-networks {
    text-align: center;
    padding: 10px 0 5px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a
}

.copyright {
  color:#064159;
  margin: 5px 0 15px 0;
  text-align: center;
  letter-spacing: .2em;
  font-size: 80%;
}

/*booking page*/

#contact-background {
  /*background-color: #1B8A6B;*/
  background: url("../images/18th_century_cork_city_map.jpeg") no-repeat center center/cover;
  height: 100%; /*change from vh to 100% so there is less space under form. did not work*/
}

#transparent-color {
  background-color: rgba(27,138,107, .6);
  /*justify-content: center;
  align-items: center;*/
  padding: 5%;
  /*height: 100vh; /*change from vh to 100% so there is less space under form. did not work*/
}

/* form */

#booking-form {
  color: #4b4b4b;
  background-color: rgba(245, 245, 245, 0.9);
  margin: 70px auto; /* to center the form on the page*/
  padding: 30px;
  border-radius: 10px;
}

.contact-info> h3 {
  color: #4b4b4b;
  margin-bottom: 20px;
  text-align: center;
}

.contact-info> p {
  font-size: 60%;
  text-align: center;
  letter-spacing: .2em;
  margin: 10px;
}

.text-input {
  background: transparent;
  color: #4b4b4b;
  width: 100%;
  margin: 5px 0 20px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;
  padding: 0 5px;
}

/*height of the 1 line text fields in form */
.box-height-25 {
  height: 30px;
}
/*height of the 4 line/row text fields in form */
.text-input textarea {
  height: 300px;
}

.contact-info {
  margin-bottom: 25px;
}

/* 4 inputs to be size by side on larger screens*/
.middle-input {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap; /* Allow items to wrap to the next line if there's not enough space */
  justify-content: space-between;
  width: 100%;
}

.form-input {
  width: 100%
}

/* pop-up area*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 80px 10px;
  padding: 50px;
  background: #fff;
  border-radius: 5px;
  width: 60vw;
  position: relative;
}
/*overlay close button style*/
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: orange;
}

/*Boo ghost image*/
#boo-ghost {
  background:url("../images/ghost_boo.jpeg") no-repeat center/cover;
  min-height: 240px;
  width: 100%;
  margin-bottom: 20px;
}

/* Media query for tablets and larger screens */
@media screen and (min-width: 768px) {
  /* menu changes to links instead of burgermenu at 768px */
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
    }
  .nav-toggle-label {
    display: none;
    }

  main {
    margin-top: 80px;
  }  
  .contact-btn {
    font-size: 100%;
  }
  h1, h2, h3, h4 {
    font-size: 120%;
  }
  #menu {
    display: flex;
    font-size: 100%;
  }
  
  #menu > li {
    padding-left: 2rem;
  }  

  .our-guides {
    flex: 1;
    }

  .image-and-text {
    display: flex;
    flex-direction: row;
    }

  .restrain-image {
    display:flex;
    height: 100%;
    object-fit: cover;
  }  

  .copyright {
    letter-spacing: .5em;
  }

  #booking-form {
      max-width: 600px;
      /*if i wanted the box to be on the left*/
      /*left: 10%;
      top: 150px;*/
  }

/* make the first 4 form inputs flex*/
  .form-input {
    flex: 0 1 48%; /* Make each input take up 48% width on larger screens */
  }

  .text-input:hover {
      border-color: #f16c6b;
  }

  .join-button:hover {
      background-color: #fafafa;
      color: #454b1b;
  }  
  #boo-ghost{
    height: 90%;
  }
  .popup{
    height: 90%;
  }
}  
    
/*Larger devices (1024px and up)*/
@media screen and (min-width: 1024px) {
  main {
    margin-top: 88px;
  }  
  #menu {
    font-size: 110%;
  }
  #menu > li {
    padding-left: 3rem;
  } 

  h1, h2, h3, h4 {
    font-size: 120%;
  }

} 

/*Larger devices (1440 and up)*/
@media screen and (min-width: 1440px) {
  main {
    margin-top: 86px;
  } 
  #menu {
    font-size: 120%;
  }
  #menu > li {
    padding-left: 4rem;
  } 

  h1, h2, h3, h4 {
    font-size: 130%;
  }

  p {
    font-size: 110%;
  }
} 

/*Larger devices (2560 and up)*/
@media screen and (min-width: 2560px) {
  main {
    margin-top: 98px;
  } 
  #menu {
    font-size: 130%;
  }
  #menu > li {
    padding-left: 5rem;
    margin-right: 0.5rem;
  } 
  #logo {
    margin-left: 1rem;
  }

  h1, h2, h3, h4, p {
      font-size: 150%;
  }
}